:root {
  --pink: rgb(221, 146, 155);
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: black wavy underline;
  text-underline-offset: 30%;
}

/* Header styles */
.header {
  position: relative;
  padding-bottom: 30px;
}

/* Navbar styles */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}

.navbar-link {
  margin: 20px;
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
}

.navbar-link:hover {
  font-size: 2.4rem;
  text-decoration: underline;
  color: var(--pink);
}

/* Title section styles */

.intro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 20px;
  padding: 30px;
}

.intro__img-container {
  animation: dropInAndBounce 1s ease-out;
  padding: 0 20px;
}
.intro__profile-img {
  max-height: 50vh;
  border-radius: 50%;
}

.intro__content {
  padding: 0 20px;
  animation: dropIn 0.5s ease-out;
}

.intro__greeting {
  font-size: 6rem;
  font-weight: bolder;
}

.intro__title {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.name {
  color: var(--pink);
  font-weight: bolder;
}

.intro__info {
  line-height: 5rem;
  font-size: 4rem;
}

/* Main section general styling */
.main {
  display: flex;
  flex-direction: column;
}

/* About section */
.about {
  height: 100%;
  position: relative;
  padding-top: 5%;
  padding-bottom: 7%;
}

.about__title {
  position: relative;
  width: fit-content;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px 50px 1% 50px;
  margin: 10px 0;
}

.about__title::after {
  content: "";
  background-image: url(../images/Brush-Stroke-PNG-Free-Download.png);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.about__container {
  width: 100%;
  position: relative;
  top: 35%;
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__item {
  position: relative;
  background-color: white;
  max-width: 30%;
  margin: 5px 15px;
  padding: 15px 15px;
}

.about__title--small {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline double rgb(82, 181, 178);
}

.about__info {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 30px;
}

/* Projects Section */
.projects {
  height: 100%;
  position: relative;
  padding-top: 7%;
}

.project__title {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5% 6% 3% 6%;
  margin: 10px 0;
}

.project__title::after {
  content: "";
  background-image: url(../images/Brush-Stroke-PNG-Free-Download.png);
  background-size: contain;
  background-position: bottom;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.projects-container {
  width: 100%;
  position: relative;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  text-align: justify;
  position: relative;
  margin: 15px;
  width: 40%;
  height: 400px;
}

.project-card:hover {
  width: 38%;
}

.project-card:first-child {
  width: 75vw;
  height: 400px;
  background-image: url(../images/project-img-1.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:first-child:hover {
  width: 75%;
}

.project-card:nth-child(2) {
  background-image: url(../images/placeholder-1.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:nth-child(3) {
  background-image: url(../images/placeholder-2.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:nth-child(4) {
  background-image: url(../images/placeholder-3.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:nth-child(5) {
  background-image: url(../images/placeholder-4.jpg);
  background-size: cover;
  background-position: center;
}

.card-title {
  position: relative;
  width: 75%;
  padding: 20px 40px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--pink);
  opacity: 0.9;
  color: black;
}

.first-card-title {
  position: relative;
  width: 40%;
  padding: 20px 25px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--pink);
  color: black;
}

.card-title h2 {
  font-weight: bold;
}

/* Contact section */

.contact {
  /* background-color: var(--pink); */
  height: 100%;
  margin-top: 5%;
  padding-bottom: 15%;
}

.contact__title {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 40px;
  margin: 10px 0;
}

.contact__title::after {
  content: "";
  background-image: url(../images/Brush-Stroke-PNG-Free-Download.png);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.contact__info {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0;
  font-size: 3rem;
}

.social {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0;
  margin: 10px 0;
}

.social__icon {
  padding: 0 1.5rem;
}

.social__icon:hover {
  width: 30%;
  height: 30%;
}

/* media query for tablets */

/* media query for mobile landscape */
@media screen and (max-width: 768px) {
  /* profile section */
  .intro {
    flex-direction: column;
  }

  .intro__img-container {
    padding: 0;
  }

  .intro__content {
    padding-top: 20px;
    text-align: center;
  }

  .intro__greeting {
    font-size: 4.6rem;
    font-weight: bolder;
  }
  .intro__title {
    font-size: 4.6rem;
  }

  .intro__info {
    font-size: 4rem;
  }

  /* about section */

  .about {
    padding-bottom: 3%;
  }

  .about__container {
    flex-direction: column;
    align-content: center;
  }

  .about__item {
    margin: 5px 0;
    max-width: 80%;
  }

  /* project section */
  .projects {
    margin-top: 2rem;
  }

  .project-card {
    height: 200px;
  }

  .project-card:first-child {
    width: 80vw;
    height: 300px;
  }

  .card-title {
    width: 75%;
    padding: 10px 30px;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .first-card-title {
    width: 60%;
    padding: 15px 25px;
  }

  /* contact section */

  .contact__info {
    width: 75%;
    text-align: center;
    font-size: 2.5rem;
  }
}

/* media query for mobile devices */
@media screen and (max-width: 480px) {
  .navbar-link {
    margin: 1.2rem;
    font-size: 1.8rem;
  }

  .intro__greeting {
    font-size: 4.4rem;
    font-weight: bolder;
  }
  .intro__title {
    font-size: 4.6rem;
  }
  .intro__info {
    font-size: 3rem;
    margin-top: 2rem;
  }

  /* project section */

  .project-card {
    height: 200px;
    width: 70vw;
  }

  .project-card:first-child {
    width: 80vw;
    height: 250px;
  }

  .card-title {
    width: 75%;
    padding: 10px 30px;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .first-card-title {
    width: 60%;
    padding: 15px 25px;
  }
}

@keyframes dropInAndBounce {
  0% {
    transform: translateY(-50rem);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3rem);
  }

  75% {
    transform: translateY(0rem);
  }

  90% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes dropIn {
  0% {
    transform: translateY(-50rem);
  }

  100% {
    transform: translateY(0rem);
  }
}
