:root {
  --pink: rgb(202, 133, 171);
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: black wavy underline;
  text-underline-offset: 30%;
}

/* Header styles */
.header {
  position: relative;
  padding-bottom: 30px;
}

/* Navbar styles */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}

.navbar-link {
  margin: 20px;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.navbar-link:hover {
  font-size: 2.5rem;
  text-decoration: underline;
  color: var(--pink);
}

/* Title section styles */

.intro {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 20px;
  padding: 30px;
}
.intro__img-container {
  animation: dropInAndBounce 1s ease-out;
}
.intro__profile-img {
  max-width: 45vw;
  max-height: 50vh;
  border-radius: 50%;
  position: relative;
  margin-left: 40%;
}

.intro__content {
  width: 50vw;
  text-align: left;
  padding: 15px;
  margin-left: 20%;
  animation: dropIn 0.5s ease-out;
}

.intro__title {
  font-size: 6rem;
}

.name {
  color: var(--pink);
  font-weight: bolder;
}

.intro__info {
  font-size: 5rem;
}

/* Main section general styling */
.main {
  display: flex;
  flex-direction: column;
}

/* About section */
.about {
  height: 100%;
  position: relative;
}

.about__title {
  position: relative;
  width: fit-content;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 60px;
  padding-bottom: 3%;
  margin: 10px 0;
}

.about__container {
  width: 100%;
  position: relative;
  top: 35%;
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__item {
  position: relative;
  background-color: white;
  width: 25vw;
  margin: 5px 15px;
  padding: 15px 15px;
}

.about__title--small {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.about__info {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 30px;
}

/* Projects Section */
.projects {
  height: 100%;
  position: relative;
}

.project__title {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10%;
  padding-bottom: 3%;
  margin: 10px 0;
}

.projects-container {
  width: 100vw;
  position: relative;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  text-align: justify;
  position: relative;
  margin: 15px;
  width: 40%;
  height: 400px;
}

.project-card:hover {
  width: 48%;
  height: 420px;
}

.project-card:first-child {
  width: 70vw;
  height: 400px;
  background-image: url(../images/project-img-1.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:first-child:hover {
  width: 75vw;
}

.project-card:nth-child(2) {
  background-image: url(../images/placeholder-1.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:nth-child(3) {
  background-image: url(../images/placeholder-2.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:nth-child(4) {
  background-image: url(../images/placeholder-3.jpg);
  background-size: cover;
  background-position: center;
}

.project-card:nth-child(5) {
  background-image: url(../images/placeholder-4.jpg);
  background-size: cover;
  background-position: center;
}

.card-title {
  position: relative;
  width: 75%;
  padding: 20px 40px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--pink);
  color: black;
}

.first-card-title {
  position: relative;
  width: 40%;
  padding: 20px 25px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--pink);
  color: black;
}

.card-title h2 {
  font-weight: bold;
}

/* Contact section */

.contact {
  background-color: pink;
  height: 100%;
  margin-top: 5%;
}

.contact__title {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0;
  margin: 10px 0;
}

.contact__info {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0;
  font-size: 3rem;
}

.social {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0;
  margin: 10px 0;
}

.social__icon {
  padding: 0 1.5rem;
}

.social__icon:hover {
  width: 30%;
  height: 30%;
}

/* media query for tablets */
@media screen and (max-width: 768px) {
  /* profile section */
  .intro__profile-img {
    margin-top: 20%;
    margin-bottom: 15px;
    margin-left: 10%;
  }

  .intro__content {
    width: 100%;
    margin-left: 8%;
    margin-top: 5%;
  }
  /* about section */

  .about__container {
    flex-direction: column;
    align-content: center;
  }

  .about__item {
    width: 85vw;
    margin: 5px 0;
  }

  /* project section */
  .projects {
    margin-top: 2rem;
  }

  .project-card {
    height: 200px;
  }

  .project-card:first-child {
    width: 80vw;
    height: 300px;
  }

  .card-title {
    width: 75%;
    padding: 10px 30px;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .first-card-title {
    width: 60%;
    padding: 15px 25px;
  }

  /* contact section */

  .contact__info {
    width: 75%;
    text-align: center;
    font-size: 2.5rem;
  }
}

/* media query for mobile devices */
@media screen and (max-width: 480px) {
  .navbar-link {
    margin: 1.2rem;
    font-size: 1.8rem;
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .intro__img-container {
    width: 100%;
    position: relative;
  }

  .intro__profile-img {
    margin-left: 0;
    margin-top: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .intro__title {
    font-size: 5.5rem;
    line-height: 6rem;
  }

  .intro__info {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .intro__content {
    width: 100%;
    margin: 0;
    margin-left: 4rem;
  }

  /* project section */

  .project-card {
    height: 200px;
    width: 70vw;
  }

  .project-card:first-child {
    width: 80vw;
    height: 250px;
  }

  .card-title {
    width: 75%;
    padding: 10px 30px;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .first-card-title {
    width: 60%;
    padding: 15px 25px;
  }
}

@keyframes dropInAndBounce {
  0% {
    transform: translateY(-50rem);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3rem);
  }

  75% {
    transform: translateY(0rem);
  }

  90% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes dropIn {
  0% {
    transform: translateY(-50rem);
  }

  100% {
    transform: translateY(0rem);
  }
}
