:root {
  --pink: rgb(202, 133, 171);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styles */
.header {
  position: relative;
  width: 100%;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.navbar__list {
  display: inline;
}

.navbar__link {
  margin: 20px;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.navbar__link:hover {
  font-size: 2.5rem;
  text-decoration: underline;
  color: var(--pink);
}

/* Title section styles */

.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 20px;
}

.intro__item {
  position: relative;
}

.intro__img-container {
  justify-content: flex-end;
  padding: 20px;
  max-width: 30%;
}

.intro__profile-img {
  max-width: 288px;
  max-height: 272px;
  border-radius: 50%;
  position: relative;
  left: 40%;
}

.intro__content {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro__title {
  font-size: 5rem;
}

.name {
  color: var(--pink);
}

.intro__info {
  font-size: 3rem;
}

/* Main section general styling */
.main {
}

/* About section */
.about {
}

.about__title {
}

.about__title--small {
}

.about__container {
}

.about__item {
}

.about__info {
}

/* Projects Section */
.projects {
}

.project__header {
}

.project__title {
}

.project__info {
}

.project-container {
}

.project-item-1 {
}

.image-1-container {
}

.project-1-image {
}

.project-item {
}

.project-image-container {
}

.project__image {
}

/* Contact section */

.contact {
}

.contact__title {
}

.contact__info {
}

.social {
}

.social__link {
}

.social__icon {
}
