html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Header styles */
.header {
  position: relative;
  width: 100%;
}

/* Navbar styles */
.navbar {
  /* background-color: rgb(201, 168, 186);
  background: linear-gradient(
    to bottom,
    rgb(201, 168, 186),
    rgb(202, 133, 171)
  );
  background: linear-gradient (to top, rgb(201, 168, 186), rgb(202, 133, 171)); */
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar__list {
  display: inline;
}

.navbar__link {
  margin: 20px;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__link:hover {
  font-size: 2.5rem;
  text-decoration: underline;
}

/* Title section styles */
.intro__profile-img {
  max-width: 288px;
  max-height: 272px;
}

.intro__content {
}

.intro__title {
}

.intro__info {
}

/* Main section general styling */
.main {
}

/* About section */
.about {
}

.about__title {
}

.about__title--small {
}

.about__container {
}

.about__item {
}

.about__info {
}

/* Projects Section */
.projects {
}

.project__header {
}

.project__title {
}

.project__info {
}

.project-container {
}

.project-item-1 {
}

.image-1-container {
}

.project-1-image {
}

.project-item {
}

.project-image-container {
}

.project__image {
}

/* Contact section */

.contact {
}

.contact__title {
}

.contact__info {
}

.social {
}

.social__link {
}

.social__icon {
}
