body {
  margin: 0px;
  height: 100vh;
}

/* Header styles */
.header {
}

/* Navbar styles */
.navbar {
}

.navbar__list {
}

.navbar__link {
}

/* Title section styles */
.intro__profile-img {
  max-width: 288px;
  max-height: 272px;
}

.intro__content {
}

.intro__title {
}

.intro__info {
}

/* Main section general styling */
.main {
}

/* About section */
.about {
}

.about__title {
}

.about__title--small {
}

.about__container {
}

.about__item {
}

.about__info {
}

/* Projects Section */
.projects {
}

.project__header {
}

.project__title {
}

.project__info {
}

.project-container {
}

.project-item-1 {
}

.image-1-container {
}

.project-1-image {
}

.project-item {
}

.project-image-container {
}

.project__image {
}

/* Contact section */

.contact {
}

.contact__title {
}

.contact__info {
}

.social {
}

.social__link {
}

.social__icon {
}
