:root {
  --pink: rgb(202, 133, 171);
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: black wavy underline;
  text-underline-offset: 30%;
}

/* Header styles */
.header {
  position: relative;
  padding-bottom: 30px;
}

/* Navbar styles */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}

.navbar-link {
  margin: 20px;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.navbar-link:hover {
  font-size: 2.5rem;
  text-decoration: underline;
  color: var(--pink);
}

.navbar__link.active {
  font-size: 2.5rem;
  text-decoration: underline;
  color: var(--pink);
}

/* Title section styles */

.intro {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
  /* TODO remove */
  border: 1px solid red;
}

.intro__profile-img {
  max-width: 45vw;
  max-height: 50vh;
  border-radius: 50%;
  position: relative;
  margin-left: 40%;
}

.intro__content {
  width: 50vw;
  text-align: left;
  padding: 15px;
  margin-left: 20%;
  border: 1px solid red;
}

.intro__title {
  font-size: 6rem;
}

.name {
  color: var(--pink);
  font-weight: bolder;
}

.intro__info {
  font-size: 5rem;
}

/* Main section general styling */
.main {
  display: flex;
  flex-direction: column;
}

/* About section */
.about {
  background-color: var(--pink);
  height: 100vh;
  position: relative;
}

.about__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
  margin: 10px 0;
}

.about__container {
  width: 100%;
  position: relative;
  top: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__item {
  position: relative;
  background-color: white;
  width: 25vw;
  margin: 5px 15px;
  padding: 10px 15px;
}

.about__title--small {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.about__info {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 30px;
}

/* Projects Section */
.projects {
  background-color: turquoise;
  height: 100vh;
  position: relative;
}

.project__header {
  padding-top: 80px;
}

.project__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
  margin: 10px 0;
}

.projects-container {
  background-color: violet;
  width: 100vw;
  position: relative;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  text-align: justify;
  position: relative;
  margin: 15px;
  width: 45%;
  background-color: red;
  height: 400px;
}

.project-card:first-child {
  width: 70vw;
  height: 400px;
  background-image: url(../images/project-img-1.jpg);
  background-size: cover;
  background-position: center;
}

.card-title {
  background-color: yellow;
  position: absolute;
  padding: 20px 30px;
  font-size: 3rem;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
}

/* Contact section */

.contact {
}

.contact__title {
}

.contact__info {
}

.social {
}

.social__link {
}

.social__icon {
}

/* media query for tablets */
@media screen and (max-width: 768px) {
  /* profile section */
  .intro__profile-img {
    margin-top: 20%;
    margin-bottom: 15px;
    margin-left: 10%;
  }

  .intro__content {
    width: 100%;
    margin-left: 8%;
    margin-top: 5%;
  }
  /* about section */

  .about__container {
    flex-direction: column;
    align-content: center;
  }

  .about__item {
    width: 85vw;
    margin: 5px 0;
  }
}

/* media query for mobile devices */
@media screen and (max-width: 480px) {
  .header {
    display: relative;
  }

  .navbar {
    display: fixed;
    width: 100vw;
    margin-bottom: 10px;
  }

  .navbar-link {
    margin: 1.2rem;
    font-size: 1.8rem;
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
  }

  .intro__img-container {
    width: 100%;
    position: relative;
  }

  .intro__profile-img {
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .intro__title {
    font-size: 5.5rem;
    line-height: 6rem;
  }

  .intro__info {
    font-size: 3rem;
    margin-top: 10px;
  }
  .intro__content {
    width: 100%;
    margin: 0;
  }
}
