:root {
  --pink: rgb(221, 146, 155);
  --teal: rgb(82, 181, 178);
  --darkteal: rgb(73, 171, 168);
  --grey: rgb(234, 237, 240);
}

.intro {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* navigation link styles */

.my-link:hover {
  text-decoration: underline;
  color: var(--pink) !important;
}

/* Main section general styling */

/* this is for the background paint stripe behind the titles so we can change the opacity */
.headings::after {
  content: "";
  background-image: url(../images/Brush-Stroke-PNG-Free-Download.png);
}

/* Introduction section styling*/

.intro {
  height: 100vh;
  background-image: url(..//images/background-image.jpg);
  background-size: cover;
}

.intro__img-container {
  animation: dropInAndBounce 1s ease-out;
}

.intro__profile-img {
  max-height: 50vh;
}

.intro__content {
  animation: dropIn 0.5s ease-out;
}

.intro__name {
  color: var(--pink);
}

/* About section */

.about__info span {
  color: var(--darkteal);
  font-weight: bold;
}

/* Projects Section */

.carousel-img {
  height: 60vh !important;
}

.project-btn {
  background-color: var(--teal) !important;
  border-color: var(--teal);
}

.project-btn:hover {
  background-color: var(--darkteal) !important;
  border-color: var(--darkteal);
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* Contact section */

.contact__content {
  position: relative;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.contact__info {
  padding: 15px 0;
  font-size: 3rem;
}

.social {
  padding: 25px 0;
  margin-top: 3%;
  margin-bottom: 10px;
}

.social__icon {
  padding: 0 1.5rem;
}

.social__icon:hover {
  width: 30%;
  height: 30%;
}

.footer {
  border-top: 1px solid var(--grey);
}

.footer div {
  font-size: 2rem;
  text-align: center;
  opacity: 0.3;
  padding: 30px 0;
}

/* media query for large laptop/desktop */

/* media query for largest tablets/laptops */
@media screen and (max-width: 1024px) {
  .intro__profile-img {
    max-height: 40vh;
  }
  /* project section */

  .project__card {
    height: 200px;
  }

  .project__card:first-child {
    width: 80vw;
    height: 300px;
  }

  .card-titles {
    width: 75%;
    padding: 10px 30px;
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .first-card-title {
    width: 60%;
    padding: 15px 25px;
    font-size: 1.5rem;
  }

  /* contact section */

  .contact__info {
    width: 75%;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {
  .intro__content {
    text-align: center;
  }
}

/* media query for tablets */
@media screen and (max-width: 550px) {
  /* project section */

  .project__card {
    height: 200px;
    width: 70vw;
  }

  .project__card:first-child {
    width: 80vw;
    height: 250px;
  }
}

/* media query for larger mobiles */

@media screen and (max-width: 480px) {
  .intro {
    margin-top: 20% !important;
  }

  .first-card-title {
    font-size: 1.5rem;
    width: 80%;
  }

  .contact {
    font-size: 2.5rem;
  }
}

/* media query for iphone 5/SE */
@media screen and (max-width: 320px) {
  .contact {
    font-size: 2.1rem;
  }

  .contact__info {
    font-size: 1.8rem;
  }
}

/* profile picture animation - drops in from top of screen and bounces twice */

@keyframes dropInAndBounce {
  0% {
    transform: translateY(-50rem);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3rem);
  }

  75% {
    transform: translateY(0rem);
  }

  90% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

/* intro text animation - drops in from off the top of the screen*/

@keyframes dropIn {
  0% {
    transform: translateY(-50rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

/* mobile navbar animation - to make it drop into view when selected */

@keyframes flyIn {
  0% {
    transform: translateY(-100%);
  }
}
